<div class="register-container">
  <span class="title">Registrarse</span>

  <form [formGroup]="userForm" class="register-form">
    <mat-form-field class="form-field">
      <mat-label>nombre</mat-label>
      <input
        type="text"
        matInput
        placeholder="nombre"
        formControlName="nombre"
        required
      />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>apellidos</mat-label>
      <input
        type="text"
        matInput
        placeholder="apellidos"
        formControlName="apellidos"
        required
      />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input
        type="text"
        matInput
        placeholder="Correo electrónico"
        formControlName="email"
        required
      />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        placeholder="Contraseña"
        formControlName="contraseña"
        required
      />
    </mat-form-field>

    <button
      mat-button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!userForm.valid"
      class="submit-btn"
      (click)="onSubmit()"
    >
      Registrarse
    </button>
  </form>

  <div class="login-link">
    <span class="text-lb">¿Ya tienes cuenta?</span>
    <button
      mat-button
      mat-flat-button
      color="accent"
      (click)="onLogin()"
      class="login-btn"
    >
      Iniciar Sesión
    </button>
  </div>
</div>

