.inicio-container {
  text-align: center;
  padding: 2rem;
}

.botones-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}
.logo-imagen {
  width: 120px; 
  height: auto;
  display: block;
  margin: 1rem auto;
}