<div class="deseados-page" *ngIf="deseados.length > 0; else sinResultados">
  <h2>Mis Álbumes Deseados</h2>
<h4>Estos son los álbumes que has solicitado y que te avisaremos cuando estén disponibles.</h4>
  <div class="albumes-grid">
    <mat-card *ngFor="let d of deseados" class="album-card">
      <img
  class="thumbnail"
  [src]="{ name: d.album, artist: d.artista } | ProductoImagePipe"
  alt="{{ d.album }}"
/>
      <mat-card-title>{{ d.album }}</mat-card-title>
      <mat-card-subtitle>{{ d.artista }}</mat-card-subtitle>
      <mat-card-content>
        <p>Solicitado por ti</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="eliminarDeseado(d.id!)">
          Quitar de deseados
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="deseados-disponibles-section" *ngIf="deseadosDisponibles !== null && deseadosDisponibles.length > 0">
  <h2>¡Álbumes que ahora están disponibles!</h2>
  <h4>Estos son los álbumes que has solicitado y que ya están disponibles para su compra.</h4>
  <div class="albumes-grid">
    <mat-card *ngFor="let d of deseadosDisponibles" class="album-card">
      <img
  class="thumbnail"
  [src]="{ name: d.album, artist: d.artista } | ProductoImagePipe"
  alt="{{ d.album }}"
  style="cursor: pointer;"
  (click)="verProducto(d.album, d.artista)"
/>
      <mat-card-title>{{ d.album }}</mat-card-title>
      <mat-card-subtitle style="color:white;">{{ d.artista }}</mat-card-subtitle>
      <mat-card-content>
        <p>Este álbum que solicitaste ya está disponible.</p>
      </mat-card-content>
            <mat-card-actions>
        <button mat-button color="warn" (click)="eliminarDeseado(d.id!)">
          Quitar de deseados
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #sinResultados>
  <div class="sin-deseados">
    <h3>¡Aún no has solicitado ningún álbum!</h3>
    <p>Explora nuestro catálogo y añade tus álbumes favoritos a esta lista.</p>
    <button mat-raised-button color="primary" routerLink="/productos/list">Ir al catálogo</button>
  </div>
</ng-template>